<div fxFlex="100"  fxLayout="column" class="box">
    <div fxFlex="100" fxLayout="column">
      <app-page-header></app-page-header>
    </div>    


    <div fxFlex="100" fxLayout="row">  
        <div fxFlex="100" fxLayout="column" class="intro">
            
            <img src="..\..\assets\images\about-us-intro-bgImg.png" class="intro-bgImg">   
        
            <div fxFlex="100" fxLayout="row" class="intro-box">
                <div fxLayout="column" class="intro-text">
                    <h1>About Us</h1>
                    <br>
                    <p>We are more than just test prep.</p>
                    <p>Full college and career readiness</p>
                    <p>programs from The Princeton Review.</p>
                </div>
            </div>
        </div>
    </div>
   

    <div fxFlex="100" fxLayout="row" class="mission-box">    
        <div fxFlex="100" fxLayout="column" class="mission">
            <div class="mission-title">
                <h1>Our Mission </h1>
                <h2>We help students realize (and reach!) their full potential.</h2>
            </div>

            <div fxLayout="row" class="mission-content">
                <div fxFlex="20" fxLayout="column">
                    <img src="..\..\assets\images\careerLogo.jpg" class="mission-logo">   
                </div>
                
                <div fxFlex="80" fxLayout="column" class="mission-content1-text">
                    <span>
                    Like you, we think long term—beyond success only in high school. 
                    We believe every student deserves the opportunity to go to college and we 
                    know they need specialized skills, support, and resources to achieve their goals and succeed.
                    </span>
                </div>
            </div>

            <div fxLayout="row" class="mission-content">
                <div fxFlex="20" fxLayout="column">
                    <img src="..\..\assets\images\careerLogo.jpg" class="mission-logo">   
                </div>
                
                <div fxFlex="80" fxLayout="column" class="mission-content1-text">
                    <span>
                        Our extensive experience of partnering with schools and districts allows us to 
                        create programs best suited to each school’s goals. We help customize each program, 
                        just as we customize each student’s learning experience.
                    </span>
                </div>
            </div>  
        </div>
    </div>




    <div fxFlex="100" fxLayout="row">  
        <div fxFlex="100" fxLayout="column" class="solution">
            
            <img src="..\..\assets\images\solution-bgImg.jpg" class="solution-bgImg">   
        
            <div fxFlex="100" fxLayout="row" class="solution-box">
                <div fxLayout="column" class="solution-text">
                    <h1 id="sol-head">Our solutions help</h1>
                    <br>
                    <h1 id="sol-list">Students:</h1>
                    <ul>                        
                        <li>Overcome their anxiety and self-doubt</li>
                        <li>Better manage their time and take responsibility for their learning</li>
                        <li>Improve their grades and persist through coursework</li>
                        <li>Raise their test scores to open doors to greater opportunities</li>
                        <li>Realize and reach their full potential</li>                        
                    </ul>
                    <br>

                    <h1  id="sol-list">Administrators & Staff:</h1>
                    <ul>                        
                        <li>Level the college admissions playing field</li>
                        <li>Foster a college-going culture throughout the school</li>
                        <li>Improve school or district average ACT, SAT/PSAT, TSI, & AP test scores</li>
                        <li>Provide professional development</li>
                        <li>Present community engagement workshops as a thought leader in college admissions</li>
                        <li>Measure your return on investment through transparent reporting and administrative tools</li>          
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div fxFlex="100" fxLayout="column">
        <app-get-started></app-get-started>
      </div>    
  

</div>
