<div fxFlex="100" fxLayout="row" class="box">
  
  <div fxFlex="100" fxLayoutAlign="center center" class="header-top">
    <div fxFlex="5">    </div>
    <div fxFlex="80" id="links">
      <a href="#">Classroom Coaching</a> | <a href="#">Test Series</a> |
      <a href="#">Webinar</a> 
      <!-- <p>contact : <a style="color: white;" href="tel: +91 91212 17969">+91 91212 17969</a> &nbsp;
          email : <a href="#">ilearn@CareerTranformationvideos.com</a></p> -->
    </div>
    <div fxFlex="15" id="links">
      <a href="about-us">About Us</a> 
      &nbsp; &nbsp; &nbsp;
      <a href="contact-us">Contact Us</a> 
      <!--  (click)="contact_us()" -->
      &nbsp; &nbsp; &nbsp;
      <a href="login-page">login</a>
    </div>
   
  </div> 
    
 <div fxFlex="100" fxLayoutAlign="center center" class="logoFlex">
    <div fxFlex="45">
      <img src="..\..\assets\images\careerLogo.jpg" class="logo">   
    </div>
    <div fxFlex="45" class="title">
       Career Tranformation
    </div>
    <div fxFlex="10"></div>
  </div> 
  <div fxFlex="100" fxLayout="row" class="form-box"></div>
    
</div>